/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* 整个浏览器窗口的背景色 */
    min-height: 100%;

    overflow: hidden; /* 禁止滚动条 */

    
}
canvas {
    position: relative; /* 绝对定位可能导致安卓偏移，改为 relative */
}


/*@font-face {
    font-family: 'theFont';
    src: url(./assets/TsunagiGothic.ttf);
}*/

/* @font-face {
    font-family: 'three';
    src: url(./assets/three.ttf);
} */

/* @font-face {
    font-family: 'AlimamaShuHeiTi';
    src: url(./assets/AlimamaShuHeiTi.ttf);
} */

/* 新增部分 */

@font-face {
    font-family: 'theFont';
    src: url(./assets/HummingStd-E.otf);
} 

@font-face {
    font-family: 'maoken_xiuyayuan.ttf';
    src: url(./assets/maoken_xiuyayuan.ttf);
}

@font-face {
    font-family: 'MonuTitl-0.95CnBd.ttf';
    src: url(./assets/MonuTitl-0.95CnBd.ttf);
}
